%section.items-box-container
  %h3.text-center=link_to "#{name}新着アイテム", root_path
  .items-box-content
    = render "items"
    = render "items"
    = render "items"
    = render "items"
  .view-all=link_to "すべての商品を見る", root_path
