= render "./common/header"
%nav.breadcrumbs
  %ul
    - breadcrumb :item_name, @item
    %li
      = breadcrumbs separator: "#{content_tag(:i, '', class: 'fa fa-angle-right')}"
%main.search-container
  .l-side
    =form_tag( detail_search_search_index_path ,class: "search-extend-container", method: :GET ) do
      .search-sort
        .form-group
          .select-wrap
            = select "", :sort_order, options_for_select({価格の高い順: "price DESC", 価格の安い順: "price ASC", 出品の古い順: "created_at DESC", 出品の新しい順: "created_at ASC", "いいね！の多い順": "favorites" }), { include_blank: "並び替え" },class: "select-default"
            = fa_icon 'angle-down 2x'
      .search-dropdown-content
        %h3 詳細検索
        .form-group
          %label
            = fa_icon 'plus'
            %span キーワードを追加する
          = text_field  "", :keyword, class: "input-default" ,placeholder: "例）値下げ"
        .form-group
          %label
            = fa_icon 'list'
            %span カテゴリーを選択する
          .select-wrap.js-big-category-option
            = select "", :big_category_id, options_from_collection_for_select(Category.where("parent = '0'"), :id, :name), { include_blank: "---" }, class: "select-default"
            = fa_icon 'angle-down 2x'
        .form-group
          %label
            = fa_icon 'tag'
            %span ブランド名から探す
          = text_field  "", :brand_name, class: "input-default" ,placeholder: "例）シャネル"
        .form-group
          %label
            = fa_icon 'arrows-alt'
            %span サイズを選択する
          .select-wrap.js-size-option
            = select "", :size_group, options_from_collection_for_select(SizeGroup.all, :id, :name), { include_blank: "---" }, class: "select-default"
            = fa_icon 'angle-down 2x'

        .form-group.search-price
          %label
            = fa_icon 'money'
            %span 価格
          .select-wrap
            = select "", :price, options_for_select({"300 ~ 1000": "300-1000", "1000 ~ 5000": "1000-5000", "5000 ~ 10000": "5000-10000", "10000 ~ 30000": "10000-30000", "30000 ~ 50000": "30000-50000" , "50000 ~": "50000"}), { include_blank: "---" }, class: "select-default"
            = fa_icon 'angle-down 2x'
          = text_field  "", :price_min, class: "input-default" ,placeholder: "¥ Min"
          %span ~
          = text_field  "", :price_max, class: "input-default" ,placeholder: "¥ Max"
        .form-group.search-checkbox
          %label
            = fa_icon 'star'
            %span 商品の状態
          .checkbox-container
            .checkbox-default
              = check_box_tag "condition_all", true, false
              = fa_icon 'check'
              = label_tag :condition_all, "すべて"
            - Condition.all.each do |condition|
              .checkbox-default
                = check_box_tag "condition_id[#{condition.id}]", true, false
                = fa_icon 'check'
                = label_tag "condition_id[#{condition.id}]", condition.name
        .form-group.search-checkbox
          %label
            = fa_icon 'truck'
            %span 発送料の負担
          .checkbox-container
            .checkbox-default
              = check_box_tag "shippingcost_all", true, false
              = fa_icon 'check'
              = label_tag :shippingcost_all, "すべて"
            - ShippingCost.all.each do |shippingcost|
              .checkbox-default
                = check_box_tag "shipping_cost_id[#{shippingcost.id}]", true, false
                = fa_icon 'check'
                = label_tag "shipping_cost_id[#{shippingcost.id}]", shippingcost.name
        .form-group.search-checkbox
          %label
            = fa_icon 'shopping-cart'
            %span 販売状況
          .checkbox-container
            .checkbox-default
              = check_box_tag "status_all", true, false
              = fa_icon 'check'
              = label_tag :status_all, "すべて"
            - Statuse.where(id: [1, 3]).each do |status|
              .checkbox-default
                = check_box_tag "status_id[#{status.id}]", true, false
                = fa_icon 'check'
                = label_tag "status_id[#{status.id}]", status.name
        .search-extend-btn
          .btn-default.btn-gray クリア
          = button_tag "完了", class: "btn-default btn-red"

  .search-side
    %section.items-box-container
      %h2.search-result-head= "検索結果 #{1}-#{@item.length} 件"
      .items-box-content
        = render "./common/items", items: @item
= render "./common/app-banner"
= render "./common/footer"
= render "./common/sell-btn"
