<h2>住所情報</h2>

<%= form_for(current_user, url: "/signup/payment_registration") do |f| %>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "329-4421" %>
  </div>

  <div class="field">
    <%= f.label :prefectures %><br />
    <%= f.text_field :prefectures, autofocus: true, autocomplete: "例）島根県" %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true, autocomplete: "例）出雲市" %>
  </div>

  <div class="field">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address, autofocus: true, autocomplete: "例）朝山町２番４号" %>
  </div>

  <div class="field">
    <%= f.label :building %><br />
    <%= f.text_field :building, autofocus: true, autocomplete: "例）イーリス103" %>
  </div>

  <div class="actions">
    <%= f.submit "住所登録" %>
  </div>
<% end %>

