.single-container-signup
  = render "./common/header-singleheader"
  %main.single-main-signup
    %section.l-single-container-signup
      .l-single-main-box
        %h2.l-single-head 新規会員登録
        .l-single-inner
          .l-single-content
            = link_to "#", class: "btn-default btn-mail opacity-hover" do
              .fa-pull-left
                = fa_icon "envelope-o", class: "btn-mail-icon"
              %p.text-mail メールアドレスで登録
            = link_to "#", class: "btn-default btn-sns btn-sns-facebook opacity-hover", id:"facebook-login" do
              .fa-pull-left
                = fa_icon "facebook-official"
              %p.text-facebook Facebookで登録
            = link_to "#", class: "btn-default btn-sns btn-sns-google opacity-hover", id:"google-login" do
              = image_tag "google.svg", class: "fa-pull-left"
              %p.text-google Googleで登録
  = render "./common/footer-singlefooter"
