電話番号登録

<%= form_for(current_user, url: "/signup/address_registration") do |f| %>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "090-XXXX-XXXX" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit "sms_confirm" %>
  </div>
<% end %>

