= render "./common/header"
%nav.breadcrumbs
  %ul
    - breadcrumb :mypage
    %li
      = breadcrumbs separator: " #{content_tag(:i, '', class: 'fa fa-angle-right')} "
%main.l-container
  = render "sidebar"
  = render "content"
= render "./common/app-banner"
= render "./common/footer"
= render "./common/sell-btn"
