= render "./common/header"
%nav.breadcrumbs
  %ul
    - breadcrumb :profile
    = breadcrumbs separator: " #{content_tag(:i, '', class: 'fa fa-angle-right')} "
%main.l-container
  = render "sidebar"
  = render "profile"
= render "./common/app-banner"
= render "./common/footer"
= render "./common/sell-btn"
