- if request.path_info == new_item_path
  = f.fields_for :item_images do |b|
    .sell-upload-items-container
      .sell-upload-items
        %ul.sell-upload-items-list
        = b.label :image , class: "sell-upload-drop-box width-for-item-0"do
          %pre
            ドラッグアンドドロップ
            またはクリックしてファイルをアップロード
      - for i in 1..10
        = b.file_field :image, name: "item[item_images_attributes][#{i - 1}][image]", class: "sell-upload-input js-upload-image-input", id: "item_item_images_attributes_#{i - 1}_image"

- elsif request.path_info == edit_item_path
  .sell-upload-items-container
    .sell-upload-items
      = render "edit-item-image-form", item_images: @item.item_images[0..4]
      - image_length = @item.item_images.length
      - if image_length >= 6
        = render "edit-item-image-form", item_images: @item.item_images[5..-1]
      = label "", :image ,for: "item_item_images_attributes_#{image_length}_image" ,class: "sell-upload-drop-box width-for-item-#{image_length % 5}" do
        %pre
          ドラッグアンドドロップ
          またはクリックしてファイルをアップロード
    = f.fields_for :item_images do |b|
      = b.file_field :image, class: "sell-upload-input js-upload-image-input"
    - for i in image_length..10
      = file_field "", :image, name: "item[item_images_attributes][#{i}][image]", class: "sell-upload-input js-upload-image-input", id: "item_item_images_attributes_#{i}_image"
