%section
  %h3.items-box-head.underline-opacity
    =link_to "#{name}のその他の出品", "#"
  .items-box-content
    = render "items"
    = render "items"
    = render "items"
  .items-box-content
    = render "items"
    = render "items"
    = render "items"
