= render "./common/header"
%nav.breadcrumbs
  %ul
    - breadcrumb :item_name, @item
    %li
      = breadcrumbs separator: "#{content_tag(:i, '', class: 'fa fa-angle-right')}"
%section.item-box-container.l-single-container
  %h1.item-name= @item.name
  %p.item-wording
  .item-main-content{ item_id: @item.id }
    .item-photo
      - @item.item_images.each_with_index do |item_image, index|
        - if index === 0
          .item-photo-main#mainImage
            = image_tag item_image.image, width: "300", height: "250"
          .item-photo-sub#imageList
            = image_tag item_image.image, class: "opacity1", width: "70", height: "70"
        - else
          .item-photo-sub#imageList
            = image_tag item_image.image, class: "opacity06", width: "70", height: "70"

    .table
      %item.item-detail-table
        %table.item-detail-table
          %tbody
            %tr
              %th 出品者
              %td
                = link_to "#{@item.user.nickname}", "#", class: "underline-opacity"
                .item-user-ratings
                  =fa_icon 'smile-o 2x'
                  %span 99
                  =fa_icon 'meh-o 2x'
                  %span 4
                  =fa_icon 'frown-o 2x'
                  %span 2
            %tr
              %th カテゴリー
              %td
                .item-detail-table-category.underline-opacity
                  = link_to "#{big_category_name(@item)}", "#"
                .item-detail-table-sub-category.underline-opacity
                  = link_to "#" do
                    %i.fa.fa-angle-right
                    %span= middle_category_name(@item)
                .item-detail-table-sub-sub-category.underline-opacity
                  = link_to "#" do
                    %i.fa.fa-angle-right
                    %span= small_category_name(@item)
            %tr
              %th ブランド
              %td.underline-opacity
                = link_to "#{brand_name(@item)}", "#"
            %tr
              %th 商品の状態
              %td= condition_name(@item)

            %tr
              %th 配送料の負担
              %td= shipping_cost_name(@item)
            %tr
              %th 配送の方法
              %td= shipping_method_name(@item)
            %tr
              %th 配送元地域
              %td.underline-opacity
                = link_to "#{prefecture(@item)}", href: "#"
            %tr
              %th 発送日の目安
              %td= days_for_shipment_name(@item)
  .item-price-box.text-center
    %span.item-price.bold= "¥ #{@item.price.to_s(:delimited)}"
    %span.item-tax  (税込)
    %span.item-shipping-fee 送料込み
  - if @item.seller_id === current_user.id
    .item-edit-box
      = link_to "商品の編集", edit_item_path(@item), class: "item-edit-btn"
      %p.text-center or
      = link_to "出品を一旦停止する", item_pause_listing_path(@item), method: :POST, class: "item-pause-btn"
      = link_to "この商品を削除する", item_path(@item), method: :DELETE, class: "item-delete-btn"
  - else
    = link_to "購入画面に進む", item_purchase_path(@item), class: "item-buy-btn f18-24"

  .item-description.f14
    %div.item-description-inner
      %p= @item.description
  .item-button-container
    .item-button-left
      = link_to "javascript:void(0)", class: "item-button item-button-like #{add_favorite_class(@item)}" do
        %span いいね!
        %span.item-button-like-count= @item.favorites.count
      = link_to "#", class: "item-button item-button-report" do
        =fa_icon "flag-o"
        %span 不適切な商品の報告
    .item-button-right
      = link_to "#", class: "item-button" do
        = fa_icon "lock"
        %span あんしん・あんぜんへの取り組み
.item-detail-message
  .message-container
    .message-content-items
      %ul.message-items
        %li.message-item
          %figure
            = image_tag "member_photo_noimage_thumb.png", class: "message-item-picture", width: "40", height: "40"
            %figcaption.bold ユーザー名
      .message-body-icon
      .message-body
        %span.message-body-text コメントコメントコメント
        .message-body-date-report
          .message-body-date
            = fa_icon "clock-o"
            %span 〇〇日前
          = link_to "#", class: "message-body-report" do
            = fa_icon "flag-o"
    .message-content-items
      %ul.message-items
        %li.message-item
          %figure
            = image_tag "member_photo_noimage_thumb.png", class: "message-item-picture", width: "40", height: "40"
            %figcaption.bold ユーザー名
      .message-body-icon
      .message-body
        %span.message-body-text コメントコメントコメント
        .message-body-date-report
          .message-body-date
            = fa_icon "clock-o"
            %span 〇〇日前
          = link_to "#", class: "message-body-report" do
            = fa_icon "flag-o"
    .message-content-comment
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.textarea-default
      = link_to "コメントする", "#", class: "message-submit"
  .nav-item-link-prev-next
    - if @item.previous.present?
      = link_to item_path(@item.previous), class: "nav-item-link-prev" do
        = fa_icon "angle-left"
        %span=@item.previous.name
    - if @item.next.present?
      = link_to item_path(@item.next), class: "nav-item-link-next" do
        %span=@item.next.name
        = fa_icon "angle-right"
  .item-detail-message
    .message-container
  .item-social-media-box
    %ul.social-media-box
      %li
        = link_to "#", class: "share-btn opacity-hover" do
          = fa_icon "facebook-square"
      %li
        = link_to "#", class: "share-btn opacity-hover" do
          = fa_icon "twitter"
      %li
        = link_to "#", class: "share-btn opacity-hover" do
          = image_tag "icon-line", class: "icon-line", width: "60", height: "60"
      %li
        = link_to "#", class: "share-btn opacity-hover" do
          = fa_icon "pinterest"
  = render "pickup-seller-items"
  = render "pickup-category-items"
= render "./common/app-banner"
= render "./common/footer"
