= render "./common/header"
%nav.breadcrumbs
  %ul
    - breadcrumb :card
    = breadcrumbs separator: " #{content_tag(:i, '', class: 'fa fa-angle-right')} "
%main.card-main-container
  = render "./users/sidebar"
  .card-main-content
    %h2.card-chapter-head 支払い方法
    .card-single-content
      .card-single-inner
        .signup-form-group
          %section.card-settings-label
            クレジットカード一覧
          %section.card-settings-button
            = link_to new_card_path, class: "btn-default btn-red opacity-hover" do
              =fa_icon "credit-card"
              %span クレジットカードを登録する
          .card-settings-line
          .card-settings-link
            = link_to "#", class: "underline-opacity" do
              %span 支払い方法について
              = fa_icon "angle-right"
= render "./common/app-banner"
= render "./common/footer"
= render "./common/sell-btn"
