= render "./common/header"
%nav.bread-crumbs
  %ul
    %li
      %span.mercari
        = link_to "メルカリ", root_path, class: "underline-opacity"
      = fa_icon "angle-right"
    %li
      %span.mercari
        = link_to "マイページ", "#", class: "underline-opacity"
      = fa_icon "angle-right"
    %li
      %span.mercari
        = link_to "支払い方法", card_index_path , class: "underline-opacity"
      = fa_icon "angle-right"
    %li
      %span クレジットカード情報入力
%main.card-main-container
  = render "./users/sidebar"
  .card-main-content
    %h2.card-chapter-head クレジットカード情報入力
    .card-single-content
      .card-single-inner-320px
        .card-form-group
          %label カード
          %span.form-require 必須
          = text_field_tag "card-id", "", class: "input-default", placeholder: "半角数字のみ"
          .card-image-list
            = image_tag "card-icon-visa.svg", alt: "visa", class: "visa"
            = image_tag "card-icon-master-card.svg", alt: "master-card", class: "master-card"
            = image_tag "card-icon-saison-card.svg", alt: "saison-card", class: "saison-card"
            = image_tag "card-icon-jcb.svg", alt: "jcb", class: "jcb"
            = image_tag "card-icon-american_express.svg", alt: "american_express", class: "american_express"
            = image_tag "card-icon-dinersclub.svg", alt: "dinersclub", class: "dinersclub"
            = image_tag "card-icon-discover.svg", alt: "discover", class: "discover"
        .card-form-group
          %label 有効期限
          %span.form-require 必須
          .card-select-wrap.select-birthday
            = select "month", "", ["--","1",  "2",  "3",  "4",  "5",  "6",  "7",  "8",  "9",  "10", "11", "12"], {} ,{class: "card-input"}
            = fa_icon "angle-down 2x"
            %span 月
          .card-select-wrap.select-birthday
            = select "year", "", ["--","2019",  "2020", "2021", "2022", "2023", "2024", "2025", "2026", "2027", "2028", "2029"], {} ,{class: "card-input"}
            = fa_icon "angle-down 2x"
            %span 年
        .card-form-group
          %label セキュリティコード
          %span.form-require 必須
          = text_field_tag "card-id", "", class: "input-default", placeholder: "カード背面4桁もしくは3桁の番号"
          .text-right
            = link_to "#", class: "underline-opacity" do
              = fa_icon "question-circle"
              %span カード裏面の番号とは？
        .card-form-group
          = link_to "追加する", "../card/show", class: "btn-default btn-red"
= render "./common/app-banner"
= render "./common/footer"
= render "./common/sell-btn"
