= render "./common/header"
%nav.bread-crumbs
  %ul
    %li
      %span.mercari
        = link_to "メルカリ", "#", class: "underline-opacity"
      = fa_icon "angle-right"
    %li
      %span.mercari
        = link_to "マイページ", "#", class: "underline-opacity"
      = fa_icon "angle-right".
    %li
      %span 支払い方法
.main-container-card
  %section.single-container
  .content-identification
    .l-single-main-box
      %h2.chapter-head 支払い方法
      .l-single-content-signup
        .single-inner
          .single-content-card
            .form-group
              %label クレジットカード一覧
              .card-flexbox
                .settings-add-card-left
                  =image_tag "card-icon-visa.svg", alt: "visa", size: "34x20"
                  .settings-payment-num ************1010
                  .settings-payment-num 05 / 23
                .settings-add-card-right
                  = link_to "削除する", "#", class: "settings-payment-remove"
            .form-group.text-right
              = link_to "#", class: "underline-opacity" do
                %span 支払い方法について
                = fa_icon "angle-right"
= render "./common/app-banner"
= render "./common/footer"
= render "./common/sell-btn"
