= render "./common/header"
%nav.breadcrumbs
  %ul
    - breadcrumb :card
    %li
      = breadcrumbs separator: " #{content_tag(:i, '', class: 'fa fa-angle-right')} "
- if flash[:notice]
  .notification
    = flash[:notice]
    = fa_icon "close"
%main.card-main-container
  = render "./users/sidebar"
  .card-main-content
    %h2.card-chapter-head 支払い方法
    .card-single-content
      .card-single-inner-320px
        .card-form-group
          %label クレジットカード一覧
          .card-flexbox
            .add-card-settings-left
              .card-image-list
                =image_tag "card-icon-visa.svg", alt: "visa", class: "visa"
              .card-settings-payment-num
                = "**** **** **** " + @default_card_information.last4
              .card-settings-payment-num
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
            .card-settings-add-right
              = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
                %input{ type: "hidden", name: "card_id", value: "" }
                %button.card-settings-payment-remove 削除する
        .card-settings-line
        .card-form-group
          .text-right
            = link_to "#", class: "underline-opacity" do
              %span 支払い方法について
              = fa_icon "angle-right"
= render "./common/app-banner"
= render "./common/footer"
= render "./common/sell-btn"
